  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<%= link_to 'Blood Donation Forum',root_path,class:"navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">


 <% if current_requestor %>
   <li class="nav-item">
       <%= link_to "New Request", request_new_path,class:"nav-link" %>


      </li>
      <li class="nav-item">
       <%= link_to "Request Status " , request_list_path,class:"nav-link" %>


      </li>
   <li class="nav-item">
        <%= link_to "Sign Out", logout_path,method: :delete,class:"nav-link" %>

      </li>

<% elsif current_admin %>
<li class="nav-item">
       <%= link_to "Dashboard ", admin_dashboard_path,class:"nav-link" %>


      </li>
         <li class="nav-item">
       <%= link_to "Handled Request", admin_handled_request_path,class:"nav-link" %>


      </li>

       <li class="nav-item">
        <%= link_to "Sign Out", a_logout_path,method: :delete,class:"nav-link" %>

      </li>
      <%#end%>



      <% else %>


    <form class="form-inline  my-lg-0 float-left ">

<div class="input-group mb-2 mr-sm-2">

      <%= link_to 'Requestor Log In', req_login_path  ,class:"btn btn-outline-primary" %>
</div>
<div class="input-group mb-2 mr-sm-2">

      <%= link_to 'Requestor Sign Up', req_signup_path ,class:"btn btn-outline-info" %>
</div>
<div class="input-group mb-2 mr-sm-2">

      <%= link_to 'Donor Registration', donor_registration_path ,class:"btn btn-outline-info" %>
</div>


    </form>
    </ul>
       <% end %>



  </div>
</nav>
