<h1>Admin Sign In</h1>

<%= form_with url: sign_in_path do |form| %>
<% flash.each do |type, msg| %>
  <div>
  <div class="alert alert-danger" role="alert">
  <%= msg %>
</div>

  </div>
<% end %>

    <div class="mb-3" >
    <%= form.label :username %>
    <%= form.text_field :usern, class:"form-control", placeholder:"example@apple.com" %>
    </div>

    <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control",placeholder:"password"  %>
    </div>

    <div class="mb-3">
        <%= form.submit "Log In", class: "btn btn-primary" %>
    </div>


<% end %>
