

<% location_list =["NITC","KMCT","IIM Kozhikode","Baby Memorial Hospital","Palakkad"]%>
<% blood_group_list =["A+","A-","B+","B-","AB+","AB-","O+","O-"]%>

<body>
          <%if notice %>
<%=render 'layouts/alert'%>
      <%end%>
 <%last_rec=Donor.last%> <%= if last_rec
    "Last record saved of #{last_rec.email}"
   end %>     
<h1> Enter the Donor Information </h1>
<%= form_for @donor do |f| -%>
    <label> First name </label>
    <br>
    <%= f.text_field :firstName ,:required => true%>
    <br>
    <label> Middle name </label>
    <br>
    <%= f.text_field :middleName %>
    <br>
    <label> Last name </label>
    <br>
    <%= f.text_field :lastName %>
    <br>
    <label> Email </label>
    <br>
    <%= f.email_field :email, :required => true%>
    <br>
    <label> Age </label>
    <br>
    <%= f.text_field :age ,:required => true %>
    <br>
    <label> Mobile No </label>
    <br>
    <%= f.text_field :mobileNo %>
    <br>
    <label> Gender </label>

   <%= f.radio_button :gender, "Male" %>
<%= f.label :gender, "Male" %>
<%= f.radio_button :gender, "Female" %>
<%= f.label :gender, "Female" %>
<%= f.radio_button :gender, "Other" %>
<%= f.label :gender, "Other" %>

<br>
 
    <label> Location </label>
    <br>
    <%= f.select :location, location_list %>
    <br>
 
    <label> Bloodgroup </label>
    <br>
      <%= f.select :bloodGroup, blood_group_list %>
    <br>
    <label> Government ID </label>
    <br>
    <%= f.text_field :govtID  ,:required => true%>
    <br>
    <label>Donation Date </label>
    <br>
    <%= f.date_field :lastGivenDate ,    value: Date.today%>
    <br>
    <%= f.hidden_field :isUsed, :value => false %>
    <%= f.submit "Submit" %>

<% end -%>
</body>




<br />

