

<% location_list =["NITC","KMCT","IIM Kozhikode","Baby Memorial Hospital","Palakkad"]%>
<% blood_group_list =["A+","A-","B+","B-","AB+","AB-","O+","O-"]%>

<body>
          <%if notice %>
<%=render 'layouts/alert'%>
      <%end%>
 <%last_rec=Donor.last%> <%= if last_rec
    "Last record saved of #{last_rec.email}"
   end %>
<h1> Enter the Donor Information </h1>
<%= form_with model: @donor do |f| %>

  <div class="mb-3">
    <%= f.label "First Name" %>
    <%= f.text_field :firstName ,:required => true, class:"form-control", placeholder:"Naruto" %>
      </div>


<div class="mb-3">
     <%= f.label "Middle Name" %>
    <%= f.text_field :middleName, class:"form-control", placeholder:"Minato" %>
</div>

<div class="mb-3">
     <%= f.label "Last Name" %>
    <%= f.text_field :lastName, class:"form-control", placeholder:"Uzumaki" %>
</div>

<div class="mb-3">
     <%= f.label "Email" %>
    <%= f.telephone_field :email, :required => true, class:"form-control", placeholder:"naruto_hokage@gmail.com" %>
</div>

<div class="mb-3">
     <%= f.label "Age" %>
    <%= f.number_field :age , :required => true, class:"form-control", placeholder:"26",in: 18..60, step: 1  %>
</div>

<div class="mb-3">
     <%= f.label "Mobile No." %>
    <%= f.email_field :mobileNo , :required => true, class:"form-control", placeholder:"Your 10 digits GO HERE!!!" %>
</div>

<div class="mb-3">
<%= f.label "Gender" %>
   <%= f.radio_button :gender, "Male" %>
<%= f.label :gender, "Male" %>
<%= f.radio_button :gender, "Female" %>
<%= f.label :gender, "Female" %>
<%= f.radio_button :gender, "Other" %>
<%= f.label :gender, "Other" %>
</div>


<div class="mb-3">
     <%= f.label "Location" %>
    <%= f.select :location, location_list %>
</div>


<div class="mb-3">
     <%= f.label "Bloodgroup " %>
    <%= f.select :bloodGroup, blood_group_list %>
</div>

<div class="mb-3">
     <%= f.label "Government ID " %>
    <%= f.text_field :govtID  ,:required => true %>
</div>

<div class="mb-3">
     <%= f.label "Donation Date" %>
    <%= f.date_field :lastGivenDate , value: Date.today %>
    <%= f.hidden_field :isUsed, :value => false %>
</div>

 <div class="mb-3">
        <%= f.submit "Lets Donate", class: "btn btn-primary" %>
    </div>

<% end %>
</body>

