<p style="color: green"><%= notice %></p>

<h1>Handled Requests</h1>
<input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Enter search">
<br>
<br>
<table id="myTable" class= "table table-striped table-bordered results">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Request ID</th>
      <th scope="col">Requestor ID</th>
      <th scope="col">Blood Group</th>
      <th scope="col">Location</th>
      <th scope="col">Is Handled?</th>
      <th scope="col">Allocation code</th>
      <th scope="col">Location Allocated</th>
    </tr>
  </thead>
  <tbody>
  <% @requests.each do |request| %>
  <tr>
   
    

<% if request.isConfirmed   %>

  <td>

    <%= request.id %>
  </td>
  <td>

    <%= request.requestorID %>
  </td>

  <td>

    <%= request.bloodType %>
  </td>

  <td>

    <%= request.location %>
  </td>

  <td>
<% if request.isConfirmed %>
    <%if request.allocationCode ==-404%>
     Declined ❌
    <%else%>
 Allocated ✅
    <%end%>
    <%#= request.isConfirmed %>
    <%else%>
Pending ⏳
    <%end%>
  </td>

  <td>
    <%if request.allocationCode ==-404%>
 Declined ❌

    <%else%>
    <% if request.isConfirmed %>
    <%= request.allocationCode %> 
    <%else%>
    Pending ⏳
    <%end%>
    <%end%>
  </td>

 
<% end %>


   <% if request.isConfirmed %>
    <%if request.allocationCode ==-404%>
     <td>
     Declined ❌
      </td>
      </tr>
    <%else%>
      <td>
<%=request.locationAllocated %>
  </td>
</tr>
    <%end%>

    <%#= request.isConfirmed %>
    <%else%>

    <%end%>
  </#td>

    

  <% end %>
  </tbody>
</table>

<%#= link_to "New request", new_request_path %>
