<%#= current_requestor.id%>
<% if request.requestorID == current_requestor.id.to_s   %>

  <td>

    <%= request.id %>
  </td>

  <td>

    <%= request.bloodType %>
  </td>

  <td>

    <%= request.location %>
  </td>

  <td>
<% if request.isConfirmed %>
    <%if request.allocationCode ==-404%>
     Declined ❌
    <%else%>
 Allocated ✅
    <%end%>
    <%#= request.isConfirmed %>
    <%else%>
Pending ⏳
    <%end%>
  </td>

  <td>
    <%if request.allocationCode ==-404%>
 Declined ❌

    <%else%>
    <% if request.isConfirmed %>
    Allocation code: <%= request.allocationCode %>, Location: <%= request.allocationCode %>
    <%else%>
    Pending ⏳
    <%end%>
    <%end%>
  </td>
 
<% end %>

